<div>
    <div class="container text-center glitter-background">
        <div class="row justify-content-center">
            <div class="col-md-18">
                <div class="border p-5 m-4">
                    <div class="form-outline mb-4">
                        <textarea class="form-control" id="writtenInput" placeholder="Write something here..." rows="10"
                            [(ngModel)]="pageInput.toCalculatText"
                            style="background-color: rgb(249, 250, 253);"></textarea>
                    </div>
                    <button type="button" class="btn custom-button" [disabled]="!pageInput.toCalculatText"
                        (click)="calculateWordCount()">Calculate Count</button>
                    <div class="mt-5 border p-4 text-center custom-container">
                        <div class="d-flex justify-content-between">
                            <div class="count-box text-info">
                                <div class="count-label">Word Count</div>
                                <div class="count-value">{{ pageInput.toCalculatText ? wordCount : calculateWordCount()
                                    }}</div>
                            </div>
                            <div class="count-box text-info">
                                <div class="count-label">Character Count</div>
                                <div class="count-value">{{ pageInput.toCalculatText ? charCount : calculateWordCount()
                                    }}</div>
                            </div>
                            <div class="count-box text-info">
                                <div class="count-label">Sentence Count</div>
                                <div class="count-value">{{ pageInput.toCalculatText ? sentenceCount :
                                    calculateWordCount() }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>